sbsh
osccc
*.o
Samplez/
calcy
freakynotes
chordie

# Ignore everything in wavs
wavs/**/*

# But track these specific files
!wavs/
!wavs/*/
!wavs/bd/808kick.aif
!wavs/bd/kick2.aif
!wavs/bd/kick8.aif
!wavs/cp/clap17.aif
!wavs/cp/clap25.aif
!wavs/ch/2hat.aif
!wavs/ch/wuhh184.aif
!wavs/oh/dmx_hh_open.aif
!wavs/sd/2snare.aif
!wavs/sd/wusn113.aif
!wavs/lt/DR660LoTom.aif
!wavs/lt/DR660LowestTom.aif
!wavs/mt/Tom_Mid_B_808_C.wav
!wavs/ht/DR660808HighTom.aif
!wavs/perc/tuffShaker.aiff
!wavs/perc/chezShaker.aiff
!wavs/perc/808cowbell.aiff
!wavs/perc/808clave.aif

DrumLoopz/
oldwavs/
magenta/
tags
.DS_Store
LongFormSamples
wip/
cscope.out
sbsh.dSYM/
libgtest.a
libgtest_main.a
sbsh_test
sbsh_test.dSYM/
!configure.ac
build/

## autotoolzz #########
#
## http://www.gnu.org/software/automake
Makefile.in
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap
.deps/
.dirstamp
#
## http://www.gnu.org/software/autoconf
autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
#configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

# https://www.gnu.org/software/libtool/
/ltmain.sh

# http://www.gnu.org/software/texinfo
/texinfo.tex

# http://www.gnu.org/software/m4/
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

# Generated Makefile
# (meta build system like autotools,
# can automatically generate from config.status script
# (which is called by configure script))
#Makefile
.vscode/

et
ft
